<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="/users" methods = "posts">
        <Input type = "text" name = "firstName" value="<%= locals.firstName%>">
        <button type="submit">submit</button>
        </Input>
    </form>
</body>
</html>